.page{
    width: 800px;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
}
.entête{
    height: 150px;
}
.info{
    margin-left: 390px;
}
.photo{
    margin-right: 200px;
    margin-top: -120px;
}
.section{
    margin-top: 70px;
    text-align: justify;
}
.sec-gauche{
    float: left;
    font-size: 16px;
}
.sec-droite{
    margin-left: 390px;
    font-size: 17px;
}
h2{
    font-size: 15px;
    color: blue;
}
h1{
    font-size: 35px;
}
body{
    background-color: whitesmoke;
}